<div class="conteiner">
  <h1>Buscar</h1>
      <a class="vl" href="#!/">Voltar</a>
        <form class="forms">
              <input type="text" ng-model="name" value="">
              <input type="button" ng-click="find()" name="bt-sub" value="Enviar">
              <input type="button" ng-click="findAll()" name="bt-sub" value="Buscar todos">
        </form>
<br />
<div id="tab">

    <table border="1" class="t">
      <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Idade</th>
      </tr>

      <tr ng-Repeat="person in data">
          <td>
              {{person.nome}}
          </td>
              <td>
                {{person.sobrenome}}
              </td>
          <td>
            {{person.idade}}
          </td>
      </tr>
      </table>
  </div>
</div>
